# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (`$`645-675) underperformed compared to schools with smaller budgets (`$`585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (94% passing vs 70%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# Calculate the total number of schools
num_schools = len(school_data_complete['school_name'].unique())

# Calculate the total number of students
num_students = len(school_data_complete['student_name'])

# Calculate the total budget (for all schools)
unique_schools = school_data_complete['school_name'].unique()
school_means = school_data_complete.groupby('school_name').mean()
total_budget = school_means['budget'].sum()

# Calculate the average math score
avg_math_score = school_data_complete['math_score'].mean()

# Calculate the average reading score
avg_reading_score = school_data_complete['reading_score'].mean()

# Calculate the overall passing rate (overall average score), 
#   i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score)/2

# Calculate the percentage of students with a passing math score (70 or greater)
num_passed_math = len(school_data_complete[school_data_complete['math_score'] >= 70])
percent_passed_math = num_passed_math/num_students * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
num_passed_reading = len(school_data_complete[school_data_complete['reading_score'] >= 70])
percent_passed_reading = num_passed_reading/num_students * 100

# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({'Total Schools': num_schools,
                                    'Total Students': num_students,
                                    'Total Budget': total_budget,
                                    'Average Math Score': avg_math_score,
                                    'Average Reading Score': avg_reading_score,
                                    '% Passing Math': percent_passed_math,
                                    '% Passing Reading': percent_passed_reading,
                                    '% Overall Passing Rate': overall_passing_rate
                                   }, index = [0])

# Optional: give the displayed data cleaner formatting (to match example output)
def format_six_decimal_places():
    return lambda x: "{:.6f}".format(x)
    
district_summary_df.style.format({'Total Students': lambda x: "{:,}".format(x),
                                  'Total Budget': lambda x: "${:,.2f}".format(x),
                                  'Average Math Score': format_six_decimal_places(),
                                  'Average Reading Score': format_six_decimal_places(),
                                  '% Passing Math': format_six_decimal_places(),
                                  '% Passing Reading': format_six_decimal_places(),
                                  '% Overall Passing Rate': format_six_decimal_places()
                                 })

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [5]:
# Create an overview table that summarizes key metrics about each school:

# Create a unique list of the schools
school_list = school_data_complete['school_name'].unique()

overview_table = []
table_columns = ['School Type', 'Total Students', 'Total School Budget', \
                 'Per Student Budget', 'Average Math Score', 'Average Reading Score', \
                 '% Passing Math', '% Passing Reading', '% Overall Passing Rate']

# Loop through each school and add key metrics to the overview_table list
for i in range(0, num_schools):
    
    # School Name    
    school = school_list[i]
    
    # Get Subset of Data
    subset = school_data_complete[school_data_complete['school_name'] == school]
    
    # School Type
    school_type = subset['type'].iloc[0]
    
    # Total Students
    total_students = subset['student_name'].count()

    # Total School Budget
    total_school_budget = subset['budget'].iloc[0]

    # Per Student Budget
    per_student_budget = total_school_budget/total_students
    
    # Average Math Score
    average_math_score = subset['math_score'].mean()
    
    # Average Reading Score
    average_reading_score = subset['reading_score'].mean()
    
    # % Passing Math
    passing_math = len(subset[subset['math_score'] >= 70])/total_students * 100

    # % Passing Reading
    passing_reading = len(subset[subset['reading_score'] >= 70])/total_students * 100
    
    # Overall Passing Rate (Average of the above two)
    overall_pass_rate = (passing_math + passing_reading) / 2
    
    
    # Append the school to the dataframe (index are the columns)
    overview_table.append({'School Type': school_type,
                            'Total Students': total_students,
                            'Total School Budget': total_school_budget, 
                            'Per Student Budget': per_student_budget,
                            'Average Math Score': average_math_score,
                            'Average Reading Score': average_reading_score,
                            '% Passing Math': passing_math,
                            '% Passing Reading': passing_reading,
                            '% Overall Passing Rate': overall_pass_rate})

# Create a dataframe to hold the above results
overview_df = pd.DataFrame(overview_table, index = school_list, columns = table_columns)

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [6]:
# Sort and display the top five schools in overall passing rate
top5_passing_schools = overview_df.sort_values('% Overall Passing Rate', ascending = False)[0:5]
formatted_top5_passing_schools = top5_passing_schools.style.format({'Total School Budget': lambda x: "${:,.2f}".format(x), 
                                                                    'Per Student Budget': lambda x: "${:.2f}".format(x),
                                                                    'Average Math Score': format_six_decimal_places(),
                                                                    'Average Reading Score': format_six_decimal_places(),
                                                                    '% Passing Math': format_six_decimal_places(),
                                                                    '% Passing Reading': format_six_decimal_places(),
                                                                    '% Overall Passing Rate': format_six_decimal_places()
                                                                  })
formatted_top5_passing_schools

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [7]:
# Sort and display the worst five schools in overall passing rate
bottom5_passing_schools = overview_df.sort_values('% Overall Passing Rate')[0:5]
formatted_bottom5_passing_schools = bottom5_passing_schools.style.format({'Total School Budget': lambda x: "${:,.2f}".format(x), 
                                                                          'Per Student Budget': lambda x: "${:.2f}".format(x),
                                                                          'Average Math Score': format_six_decimal_places(),
                                                                          'Average Reading Score': format_six_decimal_places(),
                                                                          '% Passing Math': format_six_decimal_places(),
                                                                          '% Passing Reading': format_six_decimal_places(),
                                                                          '% Overall Passing Rate': format_six_decimal_places()
                                                                         })
formatted_bottom5_passing_schools

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [8]:
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
math_scores_by_grade_df = pd.DataFrame()

# Create list of unique grades
grades_list = school_data_complete['grade'].unique()

# Set index to school name
school_index_df = school_data_complete.set_index('school_name')

for i in range(0, len(grades_list)):
    
    # Set grade
    grade = grades_list[i]
    
    # Create a pandas series for each grade. Hint: use a conditional statement.
    reading_scores = pd.Series(school_index_df[school_index_df['grade'] == grade]['math_score'])
    
    # Group each series by school
    grouped_series = reading_scores.groupby(reading_scores.index).mean()
    
    # Combine the series into a dataframe
    math_scores_by_grade_df = pd.concat([math_scores_by_grade_df, grouped_series.rename(grade)], axis=1, sort=False)

# Format to look like example output
del math_scores_by_grade_df.index.name
math_scores_by_grade_df = math_scores_by_grade_df[['9th', '10th', '11th', '12th']]
math_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [9]:
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
reading_scores_by_grade_df = pd.DataFrame()

# Create list of unique grades
grades_list = school_data_complete['grade'].unique()

# Set index to school name
school_index_df = school_data_complete.set_index('school_name')

for i in range(0, len(grades_list)):
    
    # Set grade
    grade = grades_list[i]

    # Create a pandas series for each grade. Hint: use a conditional statement.
    reading_scores = school_index_df[school_index_df['grade'] == grade]['reading_score']
    
    # Group each series by school
    grouped_series = reading_scores.groupby(reading_scores.index).mean()
    
    # Combine the series into a dataframe
    reading_scores_by_grade_df = pd.concat([reading_scores_by_grade_df, grouped_series.rename(grade)], axis=1, sort=False)

# Format to look like example output
del reading_scores_by_grade_df.index.name
reading_scores_by_grade_df = reading_scores_by_grade_df[['9th', '10th', '11th', '12th']]
reading_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [10]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [11]:
# Copy relevant columns from overview_df
scores_by_spending = overview_df.drop(columns= ['School Type', 'Total Students', 'Total School Budget'])

# Bin the spending
scores_by_spending['Spending Ranges'] = pd.cut(scores_by_spending['Per Student Budget'], bins=spending_bins, labels=group_names)

# Drop the 'Per Student Budget' column
binned_scores_by_spending = scores_by_spending.drop(columns = ['Per Student Budget'])

# Groupby Bins column
binned_scores_by_spending = binned_scores_by_spending.groupby('Spending Ranges').mean()

# Rename index name
binned_scores_by_spending.index.names = ['Spending Ranges (Per Student)']
binned_scores_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [12]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [13]:
# Add school size and school district to overview_df
overview_df2 = pd.DataFrame.copy(overview_df)
overview_df2['School Size'] = 0

# Loop through each school and add key metrics to the overview_table list
for i in range(0, num_schools):
    
    # School Name    
    school = school_list[i]

    # Get Subset of Data
    subset = school_data_complete[school_data_complete['school_name'] == school]
    
    # School Size
    school_size = subset['size'].iloc[0]
    
    # Add to overview_df
    overview_df2.loc[school, 'size'] = school_size
    
overview_df2.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size,size
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,0,2917.0
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,0,2949.0
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,0,1761.0
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,0,4635.0
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,0,1468.0

In [14]:
# Copy relevant columns from school_data_complete
scores_by_size = overview_df2.drop(columns= ['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget'])

# Bin the school size
scores_by_size['School Size'] = pd.cut(scores_by_size['size'], bins=size_bins, labels=group_names)

# Drop the 'size' column
binned_scores_by_size = scores_by_size.drop(columns = ['size'])

# Groupby Bins column
binned_scores_by_size = binned_scores_by_size.groupby('School Size').mean()

binned_scores_by_size.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [15]:
# Copy relevant columns from school_data_complete
scores_by_type = overview_df.drop(columns= ['Total Students', 'Total School Budget', 'Per Student Budget'])

# Groupby Bins column
binned_scores_by_type = scores_by_type.groupby('School Type').mean()

binned_scores_by_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757